<div class="text-center h1">
  <h1>What Should I Listen To?</h1>
  </br>
  <h2><%= @album.title %></h2>
  <h3><%= @album.artist %></h3>
  <h3><%= @album.year %></h3>
  <h3><%= @album.genre %></h3>
  <h3><%= @album.description %></h3>
</div>
